
.btn{
    width: fit-content;
    padding: 0.7rem 1.2rem ;
    height: fit-content;
    background-color: var(--color-primary);
    color: white;

    &:hover{
        background-color: darken(#E20000, 5%);
        color: white;
    }
    &.btn-secondary{
        background-color: var(--color-secondary);
    }
}


