.iconText{
    margin-bottom: 0.5rem;
    width: fit-content;
    font-size: 1.2rem;
    color: var(--color-text);
    cursor: pointer;

    .iconText__text{
        font-size: inherit;
        text-transform: capitalize;
        padding-left: 1rem;
    }

    .iconText__icon svg{
        position: relative;
        top: -2.5px;
        width: 1.3rem;
        height: 1.3rem;
    }

    &--active{
        border-left: 0.25rem solid var(--color-text-active);
        color: var(--color-text-active);
        
        .iconText__icon{
            padding-left: 2rem;
        }

        .iconText__icon svg path{
                fill: var(--color-text-active);

        }
         path{
            fill: var(--color-text-active);

    }
    }
    transition: all 0.25s ease;
}

.iconText:last-of-type{
    margin-bottom: 0;
}

