@media (max-width: 900px) {
  .sideBar {
    z-index: 3;
    position: absolute;
    background-color: var(--color-primary-bg);
    transform: rotateY(90deg) translateY(-17vh);
    height: 120vh;
    width: 100vw;
    padding: 15rem 10rem;
    display: flex;
    align-items: center;
    transition: 0.2s all ease-in-out;
    overflow: hidden;
    transform-origin: right;
    .navbar,
    .userProfile {
      max-width: unset !important;
    }
  }

  .sideBar.active {
    transform: rotateY(0) translateY(-17vh);
    padding: auto 2rem;
    padding-right: 0;
    border: 5px solid var(--color-secondary-bg);
  }
}

.sideBar {
  align-items: flex-end;
  display: flex;
  margin-top: 4.3rem;
  margin-right: 1rem;
  flex-direction: column;
}
.sideBar__element {
  min-width: fit-content;
  width: 100%;
}
