@forward 'scss';

.box{
    border-radius: var(--border-radius); 
    margin-bottom: 2.5rem;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.box--bg{
    background-color: var(--color-secondary-bg);
}

.App{
    display: flex;
}

.content{
    width: fit-content;
    padding-top: 1.3rem;
    display: flex;
    flex-direction: column;


}

.container{
    margin-bottom: 5rem;
}