:root{
    --color-primary-bg: #111226;
    --color-secondary-bg: #1B1C34;
    
    --color-primary: #E20000;
    --color-secondary: #696868;
    
    --color-text-active: #CACCDB;
    --color-text: #8F91B2;
}